*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: lightblue;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
}
.container h1{
    font-size: 5rem;
}
.container .list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container .items__container{
    display: flex;
    gap: 10px;

}
.container .items__container input{
    border: 1px solid black;
}
.container .items__container input, select{
    text-align: center;
}
.container .list .description{
    width: 150px;
    height: 30px;
    border-radius: 10px;
}
.container .list .count{
    width: 50px;
    height: 30px;
    border-radius: 10px;
}
.container .list .price{
    width: 50px;
    height: 30px;
    border-radius: 10px;
}
.container .list .status{
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
.container .list .delete{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: orangered;
    font-weight: bold;
}
.container .addItem{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: orangered;
}
.container .checked{
    display: flex;
    align-items: center;
    gap: 10px;
}
.container .checked p{
    font-size: 2rem;
}