.form__container {
  position: relative;
}
.textarea {
  width: 250px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  border-radius: 10px;
}

.input-cancel {
  position: absolute;
  top: -20px;
  right: -20px;
}
.btn-add {
  font-size: 2rem;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  background-color: lightcyan;
  display: block;
  margin: 20px auto;
}
