.form__container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.textarea {
  width: 250px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  border-radius: 10px;
}

.input-cancel {
  position: absolute;
  top: -20px;
  right: -20px;
}
.btn-add {
  font-size: 2rem;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  background-color: #324E9B;
  border: none;
  color: white;
  display: block;
  margin: 20px auto;
}
.categorieButton__container {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin: 10px;
}
.button-categorie {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
/* .personal-btn {
  
}
.business-btn {
} */