.item__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 150px;
  height: 100px;
  background-color: #303234;
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 4px 0px rgba(143, 143, 143, 0.56);
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.item__container.active {
  transform: rotateY(180deg);
}
.item__container .face {
  backface-visibility: hidden;
}
.item__container .face.front {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item__container .face.back {
  transform: rotateY(180deg);
}
.item__title {
  color: white;
}
.item__count {
  color: lightgray;
}
.progress__container {
  display: flex;
  background-color: dimgray;
  width: 100%;
  height: 6px;
  text-align: center;
  border-radius: 10px;
}
.progress__bar {
  height: 100%;
  transition: width 500ms;
}