.item__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  width: 150px;
  height: 100px;
  background-color: #051853;
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px;

}
.item__title {
  color: white;
}
.item__count {
  color: lightgray;
}
.progress__container {
  background-color: black;
  width: 100%;
  height: 10px;
  text-align: center;
  display: flex;
}
.progress__bar {
  height: 100%;
}
.delete__category {
  position: absolute;
  top: 0;
  right: 0;
}
/* .progressBar-personal {
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px darkviolet,
    0 0 10px darkviolet, 0 0 10px darkviolet, 0 0 10px darkviolet;
  background-color: darkviolet;
}
.progressBar-business {
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px lightskyblue, 0 0 10px lightskyblue,
    0 0 10px lightskyblue, 0 0 10px lightskyblue;
  background-color: lightskyblue;
} */
