.items__container {
  display: flex;
  gap: 10px;
  position: relative;
  background-color: var(--second-color);
  box-shadow: var(--box-shadow);
  width: 95%;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
}
.items__container:nth-child(1) {
  margin-top: 2px;
}
.items__container-click {
  animation-name: delete;
  animation-duration: 1.1s;
  animation-timing-function: ease;
}
@keyframes delete { 
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(-500px);
  }
}

.item__check {
  width: 20px;
  height: 20px;
  background-color: var(--second-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.item__check:hover {
  cursor: pointer;
}
.item__check img {
  display: none;
  filter: brightness(0);
}

.item__textarea {
  font-size: 2rem;
  border: none;
  width: 90%;
  resize: none;
  background-color: transparent;
}

.item__check-completed {
  background-color: palegreen;
}
.item__check-completed img {
  display: block;
  width: 100%;
}

.item__textarea-completed {
  text-decoration: line-through;
}