.Button__category {
  padding: 4px 6px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  color: var(--text-color);
  border: 1px solid black;
  border-radius: 10px;
}
.Button__category:hover {
  color: white;
  background-color: black;
}