.Search_container {
  position: relative;
  margin: 20px auto;
  min-width: 300px;
  max-width: 450px;
  padding: 0 10px;
  text-align: center;
}
.Search {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  background-color: var(--second-color);
  border: none;
  font-size: 1.5rem;
  box-shadow: var(--box-shadow);
  transition: box-shadow .2s;
}
.Search::placeholder {
  font-size: 1.5rem;
}
.Search:hover, .Search:focus {
  box-shadow:  0px 0px 15px -7px rgba(255, 255, 255, 0.75);
}

.Search:focus {
  outline: none;
}
.Search:disabled {
  opacity: 65%;
}