.formItem__container {
  position: relative;
  border-radius: 10px;
  background-color: var(--main-color);
}
.formSubtitle__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--second-color);
}
.formSubtitle__container span {
  font-size: 2rem;
  color: var(--text-second-color);

}
.form__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  scale: 2;
}
.form__container.active {
  transition: scale 1s linear 1s;
  scale: 1;
}
.form__container .form-name__container span  {
  font-size: 1.5rem;
}
.textarea {
  display: block;
  width: 250px;
  height: 30px;
  padding-left: 4px;
  margin: 10px 0 10px 4px;
}
.form__container .form-category__container span {
  font-size: 1.5rem;
}
.input-cancel {
  position: absolute;
  width: 20px;
  right: 0;
  top: 0;
}
.categorieButton__container {
  display: grid;
  grid-template-columns: repeat(2, 85px);
  justify-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 10px 10px;
}
.categorieButton__container div, .categorieButton__container div button {
  width: 100%;
}
.categorieButton__container div button {
  overflow: hidden;
  background-color: white;
  color: black;
}
.form__container .ErrorItem__exists {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}