.FormCategory__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.FormCategory__container .Category__textarea{
  width: 200px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: text;
}
.FormCategory__container .CategoryColor__container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.CategoryColor__container .Subtitle__color {
  font-size: 1.5rem;
}
.CategoryColor__container .Select__color {
  width: 80px;
  height: 30px;
  cursor: pointer;
}
.FormCategory__container .CreateCategory__button {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}