.form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  scale: 2;
}
.form__container.closed {
  transition: scale 1000ms;
  scale: 1;
}
.textarea {
  width: 250px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  border-radius: 10px;
}

.input-cancel {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
}
.categorieButton__container {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin: 10px;
}
.form__container .ErrorItem__exists {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}